@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background: linear-gradient(to right, #1d1010f5, #000);
    scroll-behavior: smooth;
}
.nav-container{
    height: 100vh;
}
nav {
    width: 100%;
    background: transparent;
    height: 100vh;
}
nav #TSA{
    color:rgba(255, 255, 255, 0.945);
    font-family: 'Tajawal', sans-serif;
}
nav #TSA h1 a {
    color:rgba(255, 255, 255, 0.87);
}
nav #TSA h1 a:hover {
    color: white;
}

nav #TSA h1 {
    float: left;
    display: block;
    margin-left: 50px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    line-height: 5rem;
}
nav #TSA h2 {
    float: right;
    margin-right: 100px;
    display: block;
    font-size: 14px;
    line-height: 4.5rem;
    letter-spacing: .5rem;
}
nav #TSA h2 span {
    float: right;
    line-height: 4rem;
    display: block;
    font-size: 12px;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 12px;
    z-index: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

#toogle{
    background: white;
}
#toggle .span {
    border-radius: 20px;
    height: 1.5px;
    background: white;
    backface-visibility: hidden;
    margin: 10px auto;
    transition: all .6s ease-out;
}
#toggle.on {
    z-index: 999;
}
#toggle.on #one {
    transform: rotate(40deg) translateX(0px) translateY(0px);
}

#toggle.on #two {
    transform: rotate(-40deg) translateX(7.5px) translateY(-9.5px);
}

#resize {
    z-index: 1;
    top: 0px;
    position: absolute;
    background: #bbb8ab;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-out;
    display: table;
}

#resize #menu {
    height: 90px;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    padding: 20px 0;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 140px;
}

#resize #menu li a {
    color: white;
    font-weight: 100;
    font-size: 80px;
    font-family: 'Cormorant Garamond', serif;
    margin-left: 3%;
    text-transform: uppercase;
}
#resize #menu li a span {
    font-size: 20px;
    font-family: 'Commissioner', sans-serif;
    margin: 0% 8%;
    text-transform: uppercase;
}
#resize #menu li a svg {
    transform: rotate(45deg);
    margin-left: 2%;
    opacity: 0;
}
#resize #menu li a:hover svg {
    opacity: 1;
    transition: .6s ease-in;
}
#resize.active {
    visibility: visible;
    opacity: 1;
    transition: 1.2s ease-in;
}
.resize-heading{
    margin: 0% 40%;
}
.resize-heading h1{
    width: 200%;
    color: white;
    font-size: 20px;
    font-family: 'Commissioner', sans-serif;
}
.resize-heading h2{
    width: 175%;
    font-size: 15px;
    font-family: 'Commissioner', sans-serif;
    color: rgba(255, 255, 255, 0.801);
    letter-spacing: .2rem;
    line-height: 1.5rem;
}
.resize-heading h2:nth-child(2){
    margin: 10% 0%;
}
.resize-heading a{
    color: white;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: .1rem;
    font-family: 'Commissioner', sans-serif;
    line-height: 4rem; 
}
.resize-heading a:hover{
    text-decoration: underline;
    padding-right: .8%;
}
.header {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: white;
}

.header h1 {
    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    mix-blend-mode: overlay;
}
.header-1 .letter {
    display: inline-block;
    line-height: 1em;
}
.header-2 .letter {
    display: inline-block;
    line-height: 1em;
}
.bike{
    width: 60%;
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.brand-header{
    position: absolute;
    top: 93%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.brand1{
    width: 70%;
    color: white;
    font-size: 17px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    letter-spacing: .1rem;
    line-height: 2rem;
}
.social-brand{
    position: absolute;
    top: 94%;
    left: 8%;
    transform: translate(-50%, -50%);
}
.social-brand ul li {
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.social-brand ul li a {
    color: rgba(255, 255, 255, 0.884);
    text-transform: uppercase;
}

.brand-horz {
  position: absolute;
  top: 93%;
  left: 92%;
  transform: translate(-50%, -50%);
  width: 10%;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}

.about-container{
    padding: 11% 0%;
}
.about-flex{
    display: flex;
}
.about-left{
    flex-basis: 50%;
    text-align: center;
    margin: 12% 5%;
}
.about-right{
    flex-basis: 50%;
}
.about-left a{
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .1rem;
    font-family: 'Tajawal', sans-serif;
    border: 1px solid white;
    padding: 8rem 6rem;
    border-radius: 30rem;
    text-decoration: underline;
}
.about-left svg{
    transform: rotate(-40deg);
}
.about-left h2{
    margin-top: 35%;
    width: 35%;
    color: rgba(255, 255, 255, 0.938);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .1rem;
    font-family: 'Tajawal', sans-serif;
    text-align: start;
}
.about-right h1{
    width: 55%;
    font-size: 40px;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: .1rem;
    font-weight: 100;
    line-height: 3rem;
}
.about-right h2{
    width: 52%;
    margin: 6% 0%;
    font-size: 18px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.589);
    font-family: 'Commissioner', sans-serif;
    line-height: 2rem;
}
.about-right h2 span{
    font-size: 20px;
    color: rgba(107, 105, 105, 0.884);
    font-family: 'Cormorant Garamond', serif;
}
.about-right h3{
    width: 52%;
    font-size: 18px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.589);
    font-family: 'Commissioner', sans-serif;
    line-height: 2rem;
}

.middle1{
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 30px;
}
.middle1 h1{
    margin: 0% 10%;
}
.middle1 h2{
        margin: 5% 10%;
}
.middle-flex{
    margin: 0% 10%;
    display: flex;
    color: rgba(255, 255, 255, 0.938);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .1rem;
    font-family: 'Tajawal', sans-serif;
}
.middle-left{
    flex-basis: 50%;
}
.middle-right{
    flex-basis: 50%;
}
.middle-left p{
    width: 65%;
}
.middle-right p{
    width: 72%;
}
.work-container img{
    width: 60%;
    margin: 10% 10%;
}
.work-heading{
    margin: 0% 15%;
    margin-top: -12.8%;
    width: 50%;
}
.work-heading h1{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 70px;
    font-weight: 100;
    letter-spacing: .2rem;
}
.address-container{
    padding: 10% 0%;
}
.address-flex{
    display: flex;
}
.address-left{
    flex-basis: 40%;
    margin-left: 30%;
}
.address-right{
    flex-basis: 60%;
}
.address-left h1{
    width: 70%;
    color: rgba(255, 255, 255, 0.589);
    font-size: 15px;
    font-family: 'Commissioner', sans-serif;
    line-height: 1.8rem;
}
.address-left h1:nth-child(2){
    margin: 5% 0%;
}
.address-left a{
    color: white;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: .1rem;
    font-family: 'Commissioner', sans-serif;
    line-height: 4rem;
}
.address-left a:hover{
    text-decoration: underline;
    padding-right: .5%;
}
.address-right img{
    width: 40%;
}
.address-right h1{
    width: 30%;
    color: rgba(255, 255, 255, 0.589);
    font-family: 'Commissioner', sans-serif;
    font-size: 15px;
    line-height: 1.8rem
}
.footer-flex{
    display: flex;
}
.footer-left{
    display: flex;
    flex-basis: 55%;
}
.footer-right{
    display: flex;
    flex-basis: 45%;
    margin: 0% -5%;
}
.footer-left h2{
    margin: 0% 5%;
    color: white;
    font-size: 10px;
    font-family: 'Commissioner', sans-serif;
    letter-spacing: .1rem;
}
.footer-left ul{
    margin: 0% 35%;
}
.footer-left ul li a{
    color: white;
    font-size: 20px;
    font-family: 'Commissioner', sans-serif;
    line-height: 2rem;
}
.footer-right h1{
    color: white;
    font-size: 14px;
    font-family: 'Commissioner', sans-serif;
    line-height: 3rem;
}
.footer-right ul{
    margin: 0% 6%;
}
.footer-right ul li a{
    color: rgba(255, 255, 255, 0.616);
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    line-height: 1.5rem;
}
.ending-container{
    padding: 4% 0%;
}
.ending-flex{
    display: flex;
}
.ending-left{
    flex-basis: 60%;
    margin: 0% 2%;
}
.ending-right{
    flex-basis: 40%;
}
.ending-left a{
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1rem;
}
.ending-right h2{
    margin: 0% 15%;
    color: white;
    font-size: 12px;
    font-family: 'Commissioner', sans-serif;
    letter-spacing: .1rem;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #bbb8ab;
    z-index: 2;
}
  
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
    z-index: 2;
}
.loader h1{
    width: 100%;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 120px;
    font-weight: 100;
}

@media(max-width: 3000px) {
    #toggle {
          visibility: visible;
          opacity: 1;
          margin-top: 6px;
    }

    nav #brand {
          margin-left: 18px;
    }

    #menu a {
          font-family: "Poppins";
          font-weight: 200;
          font-size: 20px;
    }

    nav #menu {
          display: none;
    }
}

@media(min-width: 3000px) {
    #resize {
          visibility: hidden !important;
    }
}
@media(max-width: 1300px){
    #resize #menu li {
        width: 120%;
    }
    #resize li:nth-child(1) {
        margin-top: 100px;
    }
    #resize #menu li a {
        font-size: 60px;
    }
    #resize #menu li a svg {
        width: 6%;
        margin-left: 2%;
        height: 0%;
    }
    #resize #menu li a span {
        font-size: 15px;
        margin: 0% 2%;
    }
    .resize-heading{
        margin: 0% 20%;
        position: relative;
        top: 25%;
    }
    .resize-heading h1{
        width: 100%;
        font-size: 15px;
    }
    .resize-heading h2{
        width: 100%;
        font-size: 12px;
    }
    .resize-heading a{
        font-size: 12px;
    }
    .header {
        width: 70%;
        top: 52%;
        left: 36%;
    }
    .header h1 {
        font-size: 85px;
    }
    .bike{
        top: 50%;
    }
    .social-brand{
        left: 10%;
    }
    .brand-horz {
        left: 90%;
        width: 15%;
      }
    .about-container{
        padding: 11% 0%;
    }
    .about-left{
        margin-left: -16%;
    }
    .about-left a{
        font-size: 20px;
    }
    .about-left h2{
        margin-top: 50%;
        margin-left: 40%;
        width: 45%;
        font-size: 15px;
    }
    .about-right h1{
        width: 100%;
        font-size: 40px;
    }
    .about-right h2{
        width: 100%;
        font-size: 18px;
        letter-spacing: .1rem;
    }
    .about-right h2 span{
        font-size: 20px;
    }
    .about-right h3{
        width: 100%;
        font-size: 18px;
    }
    .middle1{
        font-size: 20px;
    }
    .work-container img{
        width: 80%;
    }
    .work-heading{
        margin: 0% 16%;
        margin-top: -15%;
        width: 80%;
    }
    .work-heading h1{
        font-size: 70px;
    }

    .address-left, .address-right{
        margin-left: 10%;
    }
    .address-left h1{
        font-size: 16px;
        width: 90%;
    }
    .address-right img{
        width: 60%;
    }
    .address-right h1{
        width: 50%;
    }
    .footer-left{
        margin: 0% 5%;
    }
    .footer-right{
        margin: -1% -15%;
    }
    .footer-left h2{
        margin: 0% 0%;
        font-size: 12px;
    }
    .footer-left ul{
        margin: 0% 25%;
    }
    .footer-left ul li a{
        font-size: 20px;
    }
    .footer-right h1{
        font-size: 14px;
    }
    .footer-right ul{
        margin: 0% 3%;
    }
    .footer-right ul li a{
        font-size: 14px;
    }
    .ending-left a{
        font-size: 16px;
        letter-spacing: .6rem;
    }
    .ending-right h2{
        margin: 0% 0%;
        font-size: 9px;
        letter-spacing: .1rem;
    }
    .loader h1{
        font-size: 100px;
    }
}
@media(max-width: 1290px){
    .header {
        width: 50%;
        top: 52%;
        left: 26%;
    }
}


@media(max-width: 800px) {
    .header {
        width: 60%;
        top: 35%;
        left: 55%;
    }
    .header h1 {
        font-size: 80px;
    }
    .bike{
        width: 100%;
        top: 60%;
        left: 45%;
        z-index: -1;
    }
    .brand-header{
        top: 85%;
        left: 70%;
    }
    .brand1{
        width: 100%;
        color: white;
        font-size: 15px;
    }
    .social-brand{
        top: 95%;
        left: 15%;
    }
    .social-brand ul li {
        font-size: 18px;
        margin-right: 15px;
    }
    .brand-horz {
      top: 95%;
      left: 85%;
      width: 20%;
    }
    .about-left h2{
        width: 60%;
        margin-top: 85%;
    }
    .work-heading{
        margin: 0% 0%;
        margin-top: -15%;
        width: 100%;
    }
    .work-heading h1{
        font-size: 50px;
        margin-left: 16%;
    }
    .footer-right ul{
        margin: 0% 0%;
    }
    .footer-right ul li a{
        font-size: 14px;
    }   
    .loader h1{
        width: 150%;
        font-size: 100px;
    }
}

@media(max-width: 600px) {
    .header {
        width: 80%;
    }
}
@media(max-width: 600px) {
    nav #TSA h1 {
        margin-left: 10px;
        font-size: 22px;
        letter-spacing: .6rem;
    }
    nav #TSA h2 {
        margin-right: 70px;
        font-size: 14px;
    }
    #resize #menu li {
        width: 130%;
    }
    #resize li:nth-child(1) {
        margin-top: 120px;
    }
    #resize #menu li a {
        font-size: 30px;
    }
    #resize #menu li a svg {
        width: 9%;
        margin-left: 2%;
        height: -10%;
    }
    #resize #menu li a span {
        font-size: 15px;
        margin: 0% 2%;
    }
    .resize-heading{
        margin: 0% 0%;
        position: relative;
        top: 30%;
        left: 0%;
    }
    .resize-heading h1{
        width: 100%;
        font-size: 15px;
    }
    .resize-heading h2{
        width: 100%;
        font-size: 12px;
    }
    .resize-heading a{
        font-size: 12px;
    }
    .header {
        width: 80%;
        top: 30%;
        left: 55%;
    }
    .header h1 {
        font-size: 50px;
    }
    .bike{
        width: 140%;
        top: 50%;
        left: 30%;
        z-index: -1;
    }
    .brand-header{
        top: 70%;
        left: 60%;
    }
    .brand1{
        width: 150%;
        color: white;
        font-size: 15px;
    }
    .social-brand{
        top: 95%;
        left: 20%;
    }
    .social-brand ul li {
        font-size: 18px;
        margin-right: 15px;
    }
    .brand-horz {
      top: 95%;
      left: 83%;
      width: 30%;
    }
    .about-container{
        margin: 15% 0%;
    }
    .about-flex{
        display: block;
    }
    .about-left{
        margin-left: -60%;
    }
    .about-left a{
        font-size: 20px;
    }
    .about-left h2{
        margin-top: 25%;
        margin-left: 60%;
        width: 35%;
    }
    .about-right h1{
        width: 100%;
        font-size: 40px;
    }
    .about-right h2{
        width: 100%;
        font-size: 20px;
    }
    .about-right h2 span{
        font-size: 27px;
    }
    .about-right h3{
        width: 100%;
        font-size: 20px;
    }
    .middle1{
        font-size: 10px;
        letter-spacing: .1rem;
        line-height: 1.3rem;
    }
    .middle1 h1{
        margin: 10% 10%;
    }
    .middle-flex{
        display: block;
    }
    .middle-left p{
        width: 100%;
        font-size: 12px;
        line-height: 1.2rem;
    }
    .middle-right{
        margin: 2% 0%;
    }
    .middle-right p{
        width: 100%;
        font-size: 12px;
        line-height: 1.2rem;
    }
    .work-container img{
        width: 80%;
    }
    .work-heading{
        margin: 0% 0%;
        margin-top: -15%;
        width: 100%;
    }
    .work-heading h1{
        font-size: 30px;
        margin-left: 11%;
    }
    .address-flex{
        display: block;
    }
    .address-left, .address-right{
        margin-left: 10%;
    }
    .address-left h1{
        width: 80%;
    }
    .address-right img{
        width: 60%;
    }
    .address-right h1{
        width: 50%;
    }
    .footer-flex{
        display: block;
    }
    .footer-right{
        margin: 0% 2%;
    }
    .footer-left{
        margin: 10% 0%;
    }
    .footer-left h2{
        margin: 0% 10%;
        font-size: 10px;
    }
    .footer-left ul{
        margin: 0% 20%;
    }
    .footer-left ul li a{
        font-size: 15px;
    }
    .footer-right h1{
        font-size: 10px;
    }
    .footer-right ul{
        margin: 0% 4%;
    }
    .footer-right ul li a{
        font-size: 10px;
    }
    .ending-left a{
        font-size: 16px;
        letter-spacing: .6rem;
    }
    .ending-right h2{
        margin: 0% 0%;
        font-size: 8px;
        letter-spacing: .1rem;
    }
    .loader h1{
        width: 150%;
        font-size: 50px;
    }
}
@media(max-width: 540px){
    .about-left h2{
        margin-top: 30%;
    }

}
@media(max-width: 500px) {
    .header {
        width: 70%;
    }
}
@media(max-width: 380px) {
    #resize li:nth-child(1) {
        margin-top: 100px;
    }
    #resize #menu li a {
        font-size: 20px;
    }
    #resize #menu li a span {
        font-size: 10px;
    }
    .resize-heading h2{
        width: 100%;
        font-size: 10px;
    }
    .header {
        width: 80%;
        top: 30%;
        left: 45%;
    }
    .about-container{
        margin: 28% 0%;
    }
    .work-heading h1{
        font-size: 25px;
        margin-left: 12%;
    }
}

