* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: #968d88;
  scroll-behavior: smooth;
}

.nav-container {
  height: 15vh;
}

nav {
  width: 100%;
  background: transparent;
  height: 100vh;
}

nav #TSA {
  color: rgba(255, 255, 255, 0.945);
  font-family: 'Tajawal', sans-serif;
}

nav #TSA h1 a {
  color: rgba(255, 255, 255, 0.87);
}

nav #TSA h1 a:hover {
  color: white;
}

nav #TSA h1 {
  float: left;
  display: block;
  margin-left: 50px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1rem;
  line-height: 5rem;
}

nav #TSA h2 {
  float: right;
  margin-right: 100px;
  display: block;
  font-size: 14px;
  line-height: 4.5rem;
  letter-spacing: .5rem;
}

nav #TSA h2 span {
  float: right;
  line-height: 4rem;
  display: block;
  font-size: 12px;
}

#toggle {
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 1;
  width: 40px;
  height: 40px;
  float: right;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

#toggle .span {
  border-radius: 20px;
  height: 1.5px;
  background: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin: 10px auto;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

#toggle.on {
  z-index: 999;
}

#toggle.on #one {
  -webkit-transform: rotate(40deg) translateX(0px) translateY(0px);
          transform: rotate(40deg) translateX(0px) translateY(0px);
}

#toggle.on #two {
  -webkit-transform: rotate(-40deg) translateX(7.5px) translateY(-9.5px);
          transform: rotate(-40deg) translateX(7.5px) translateY(-9.5px);
}

#resize {
  z-index: 1;
  top: 0px;
  position: absolute;
  background: #bbb8ab;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  display: table;
}

#resize #menu {
  height: 90px;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  padding: 20px 0;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: white;
  font-weight: 100;
  font-size: 80px;
  font-family: "Cormorant Garamond", serif;
  margin-left: 3%;
  text-transform: uppercase;
}

#resize #menu li a span {
  font-size: 20px;
  font-family: "Commissioner", sans-serif;
  margin: 0% 8%;
  text-transform: uppercase;
}

#resize #menu li a svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 2%;
  opacity: 0;
}

#resize #menu li a:hover svg {
  opacity: 1;
  -webkit-transition: .6s ease-in;
  transition: .6s ease-in;
}

#resize.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1.2s ease-in;
  transition: 1.2s ease-in;
}

.resize-heading {
  margin: 0% 38%;
}

.resize-heading h1 {
  width: 200%;
  color: white;
  font-size: 20px;
  font-family: "Commissioner", sans-serif;
}

.resize-heading h2 {
  width: 175%;
  font-size: 15px;
  font-family: "Commissioner", sans-serif;
  color: rgba(255, 255, 255, 0.801);
  letter-spacing: .2rem;
  line-height: 1.5rem;
}

.resize-heading h2:nth-child(2) {
  margin: 10% 0%;
}

.resize-heading a {
  color: white;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: .1rem;
  font-family: "Commissioner", sans-serif;
  line-height: 4rem;
}

.resize-heading a:hover {
  text-decoration: underline;
  padding-right: .8%;
}

.types-container p {
  padding: 2% 2%;
  font-family: "Commissioner", sans-serif;
  font-size: 22px;
  color: white;
}

.types-container ul {
  padding: 0% 2%;
}

.types-container ul li a {
  font-family: "Commissioner", sans-serif;
  font-size: 18px;
  color: black;
  line-height: 1.6rem;
}

.types-container .white {
  color: white;
}

.types-container h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
}

.features {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features .cards {
  padding: 5% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: black;
}

.features .card {
  margin: 0% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #bbb8ab;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.features .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0rem;
}

.features .price h2 {
  margin-left: 2%;
  font-size: 19px;
  font-family: "Commissioner", sans-serif;
  font-weight: 100;
}

.features .price .marq {
  width: 20%;
  margin-left: 45%;
  color: white;
  font-size: 14px;
  background-color: black;
}

#cursor {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
}

#cursor .cursor--inner {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: solid 1px #1d213f;
}

@media (max-width: 3000px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
  }
  nav #brand {
    margin-left: 18px;
  }
  nav #menu {
    display: none;
  }
  #menu a {
    font-family: "Poppins";
    font-weight: 200;
    font-size: 20px;
  }
}

@media (min-width: 3000px) {
  #resize {
    visibility: hidden !important;
  }
}

@media (max-width: 1300px) {
  #resize #menu li {
    width: 120%;
  }
  #resize li:nth-child(1) {
    margin-top: 100px;
  }
  #resize #menu li a {
    font-size: 60px;
  }
  #resize #menu li a svg {
    width: 6%;
    margin-left: 2%;
    height: 0%;
  }
  #resize #menu li a span {
    font-size: 15px;
    margin: 0% 2%;
  }
  .resize-heading {
    margin: 0% 20%;
    position: relative;
    top: 25%;
  }
  .resize-heading h1 {
    width: 100%;
    font-size: 15px;
  }
  .resize-heading h2 {
    width: 100%;
    font-size: 12px;
  }
  .resize-heading a {
    font-size: 12px;
  }
  .features {
    width: 100%;
  }
  .features .cards {
    color: black;
  }
  .features .card img {
    width: 100%;
  }
  .features .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2% 0%;
  }
  .features .price h2 {
    margin-left: 2%;
    font-size: 14px;
  }
  .features .price .marq {
    width: 20%;
    margin-left: 38%;
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .features {
    width: 60%;
  }
  .features .cards {
    display: block;
    color: black;
  }
  .features .card {
    margin: 2% 0%;
  }
  .features .card img {
    width: 100%;
  }
  .features .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2% 0%;
  }
  .features .price h2 {
    margin-left: 2%;
    font-size: 17px;
  }
  .features .price .marq {
    width: 15%;
    margin-left: 62%;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  nav #TSA h1 {
    margin-left: 10px;
    font-size: 22px;
    letter-spacing: .6rem;
  }
  nav #TSA h2 {
    margin-right: 70px;
    font-size: 14px;
  }
  #resize #menu li {
    width: 130%;
  }
  #resize li:nth-child(1) {
    margin-top: 120px;
  }
  #resize #menu li a {
    font-size: 30px;
  }
  #resize #menu li a svg {
    width: 9%;
    margin-left: 2%;
    height: -10%;
  }
  #resize #menu li a span {
    font-size: 15px;
    margin: 0% 2%;
  }
  .resize-heading {
    margin: 0% 0%;
    position: relative;
    top: 30%;
    left: 0%;
  }
  .resize-heading h1 {
    width: 100%;
    font-size: 15px;
  }
  .resize-heading h2 {
    width: 100%;
    font-size: 12px;
  }
  .resize-heading a {
    font-size: 12px;
  }
  .features {
    width: 90%;
  }
  .features .cards {
    color: black;
    display: block;
  }
  .features .card {
    display: block;
    margin: 2% 0%;
  }
  .features .card img {
    width: 100%;
  }
  .features .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2% 0%;
  }
  .features .price h2 {
    margin-left: 2%;
    font-size: 17px;
  }
  .features .price .marq {
    width: 15%;
    margin-left: 55%;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  #resize li:nth-child(1) {
    margin-top: 100px;
  }
  #resize #menu li a {
    font-size: 20px;
  }
  #resize #menu li a span {
    font-size: 10px;
  }
  .resize-heading {
    top: 45%;
    left: 0%;
  }
  .resize-heading h2 {
    width: 100%;
    font-size: 10px;
  }
}
/*# sourceMappingURL=Handbags.css.map */