@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap');

$primarycolor: white;
$primaryFont: 'Cormorant Garamond', serif;
$secondaryFont: 'Commissioner', sans-serif; 

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background: #c5ab9a;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.nav-container{
    height: 35vh;
}
nav {
    width: 100%;
    background: transparent;
    height: 100vh;

    #TSA{
        color:rgba(255, 255, 255, 0.945);
        font-family: 'Tajawal', sans-serif;
    }
    #TSA h1 a {
        color:rgba(255, 255, 255, 0.87);
    }
    #TSA h1 a:hover {
        color: $primarycolor;
    }
    
    #TSA h1 {
        float: left;
        display: block;
        margin-left: 50px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1rem;
        line-height: 5rem;
    }
    #TSA h2 {
        float: right;
        margin-right: 100px;
        display: block;
        font-size: 14px;
        line-height: 4.5rem;
        letter-spacing: .5rem;
    }
    #TSA h2 span {
        float: right;
        line-height: 4rem;
        display: block;
        font-size: 12px;
    }
}


#toggle {
    position: absolute;
    right: 20px;
    top: 12px;
    z-index: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}


#toggle .span {
    border-radius: 20px;
    height: 1.5px;
    background: $primarycolor;
    backface-visibility: hidden;
    margin: 10px auto;
    transition: all .6s ease-out;
}
#toggle.on {
    z-index: 999;
}
#toggle.on #one {
    transform: rotate(40deg) translateX(0px) translateY(0px);
}

#toggle.on #two {
    transform: rotate(-40deg) translateX(7.5px) translateY(-9.5px);
}

#resize {
    z-index: 1;
    top: 0px;
    position: absolute;
    background: #bbb8ab;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-out;
    display: table;
}

#resize #menu {
    height: 90px;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    padding: 20px 0;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 140px;
}

#resize #menu li a {
    color: $primarycolor;
    font-weight: 100;
    font-size: 80px;
    font-family: $primaryFont;
    margin-left: 3%;
    text-transform: uppercase;
}
#resize #menu li a span {
    font-size: 20px;
    font-family: $secondaryFont;
    margin: 0% 8%;
    text-transform: uppercase;
}
#resize #menu li a svg {
    transform: rotate(45deg);
    margin-left: 2%;
    opacity: 0;
}
#resize #menu li a:hover svg {
    opacity: 1;
    transition: .6s ease-in;
}
#resize.active {
    visibility: visible;
    opacity: 1;
    transition: 1.2s ease-in;
}
.resize-heading{
    margin: 0% 38%;

    h1{
        width: 200%;
        color: $primarycolor;
        font-size: 20px;
        font-family: $secondaryFont;
    }
    h2{
        width: 175%;
        font-size: 15px;
        font-family: $secondaryFont;
        color: rgba(255, 255, 255, 0.801);
        letter-spacing: .2rem;
        line-height: 1.5rem;
    }
    h2:nth-child(2){
        margin: 10% 0%;
    }
    a{
        color: $primarycolor;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: .1rem;
        font-family: $secondaryFont;
        line-height: 4rem; 
    }
    a:hover{
        text-decoration: underline;
        padding-right: .8%;
    }
}

.header {
        width: 80%;
        margin-left: 11%;
        text-align: center;
        color: $primarycolor;

    h1 {
        font-size: 100px;
        font-family: $primaryFont;
        font-weight: 100;
    }
    h2 {
        font-size: 80px;
        font-family: $secondaryFont;
    }
    .header-1 .letter {
        display: inline-block;
        line-height: 1em;
    }
    .header-2 .letter {
        display: inline-block;
        line-height: 1em;
    }

    .btn-flex{
        display: flex;
        text-align: center;
        margin: 7% 44%;

        .btn-left{
            flex-basis: 0%;

            
         a{
            font-family: $secondaryFont;
            color: white;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: .1rem;
            line-height: 2.2rem;
            text-decoration: none;
           }
        }
        .btn-right{
            flex-basis: 40%;

            svg{
                transform: rotate(185deg);
            }
        }
    }

}
.bike{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.social-brand{
    position: absolute;
    top: 94%;
    left: 8%;
    transform: translate(-50%, -50%);

    ul li{
        font-size: 18px;
        font-family: $secondaryFont;
        display: inline-block;
        margin-right: 20px;
        cursor: pointer; 
    }

    ul li a{
        color: rgba(255, 255, 255, 0.884);
        text-transform: uppercase;
    }
}
.brand-horz {
    position: absolute;
    top: 93%;
    left: 92%;
    transform: translate(-50%, -50%);
    width: 10%;
    color: $primarycolor;
    font-family: $primaryFont;

}

.features{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .cards{
        color: black;
    }
    .card{
        margin: -10% 0%;
        display: flex;
        background: #bbb8ab;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }
    .price{
        display: flex;
        padding: 1rem 0rem;  

        h2{
            margin-left: 2%;
            font-size: 19px;
            font-family: $primaryFont;
        }
    
        .marq{
            width: 15%;
            margin-left: 60%;
            color: $primarycolor;
            font-size: 14px;
            background-color: black;
        }
    }
}

.cursor {
    position: absolute;
    background: black;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.8);
}

.cursor h2{
    font-family: $secondaryFont;
    font-size: .9px;
    line-height: 8px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    color: white;
}

.cursor.active {
    opacity: 1;
    transform: scale(12);
}

.cursor.active::before {
    opacity: 1;
}
.cursor-follower {
    position: absolute;
    background: rgba(255, 255, 255, 0.349);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
}

.cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
}


.middle-container{
    text-align: center;
    margin: 10% 0%;

    h1{
        font-size: 80px;
        font-family: $secondaryFont;
        font-weight: 600;
    }
    h2{
        font-size: 80px;
        font-family: $primaryFont;
        font-weight: 100;
    }
    h2 span{
        font-family: $secondaryFont;
    }
    h2 .date{
        font-family: $primaryFont;
        font-size: 120px;
        font-weight: 100;
    }
    p{
        width: 16%;
        margin: 2% 60%;
        font-weight: 100;
        color: black;
        text-align: start;
        font-family: $secondaryFont;
        font-weight: 800;
        line-height: 1.5rem; 
    }
    h3{
        width: 50%;
        margin: 6% 25%;
        font-size: 60px;
        font-family: $secondaryFont;
        font-weight: 600;
    }
    .history{
        margin: 5% 0%;
    }

    .btn-flex{
        display: flex;
        text-align: center;
        margin: 5% 44%;

        .btn-left{
            flex-basis: 70%;

            
        a{
            font-family: $secondaryFont;
            color: white;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: .1rem;
            line-height: 2.4rem;
            text-decoration: none;
        }
    }
        .btn-right{
            flex-basis: 0%;

            .gtn{
                height: 40px;
                width: 40px;  
                border-radius: 50%;
                background: none;
                border: 1px solid whitesmoke;
                color: white;
                cursor: pointer;
            }
            svg{
                transform: rotate(185deg);
            }
        }
    }
}
#black{
    background-color: rgba(0, 0, 0, 0.918);
}
.high-img{
    margin: 0% 0%;

    img{
        margin: 0% -0.76%;
    }
}

.high-container{

    h1{
        padding: 6% 5%;
        width: 60%;
        color: $primarycolor;
        font-size: 100px;
        font-family: $primaryFont;
        font-weight: 100;
    }
    h1 span{
        font-family: $secondaryFont;
    }
}
.high-flex{
    display: flex;

    .high-left{
        flex-basis: 50%;
        color: $primarycolor;
        margin-left: 35%;

        p {
            margin: 5% 0%;
            width: 65%;
            font-weight: 100;
            text-align: start;
            font-family: $secondaryFont;
            font-weight: 800;
            letter-spacing: .1rem;
            line-height: 1.5rem; 
        }

        .btn-flex{
            display: flex;
            text-align: center;
            margin: 5% 0%;
    
            .btn-left{
                flex-basis: 22%;
    
                
            a{
                font-family: $secondaryFont;
                color: white;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: .1rem;
                line-height: 2.4rem;
                text-decoration: none;
            }
        }
            .btn-right{
                flex-basis: 12%;
    
                .gtn{
                    height: 40px;
                    width: 40px;  
                    border-radius: 50%;
                    background: none;
                    border: 1px solid whitesmoke;
                    color: white;
                    cursor: pointer;
                }
                svg{
                    transform: rotate(185deg);
                }
            }
        }
    }
    .high-right{
        flex-basis: 50%;
        color: $primarycolor;
        margin: 10% 0%;

        img{
            width: 40%;
        }

        p {
            margin: 4% 0%;
            width: 40%;
            font-family: $secondaryFont;
            font-weight: 600;
            font-size: 14px;
            line-height: 1.5rem; 
        }
    }
}


.lookbook-flex{
    display: flex;

    .lookbook-left{
        flex-basis: 40%;
        margin: 0% 8%;

        img{
            width: 100%;
        }
    }
    .lookbook-right{
        flex-basis: 60%;
        color: $primarycolor;
        margin: 4% 0%;

        h1 {
            font-family: $secondaryFont;
            font-size: 80px;
        }
        h2{
            font-size: 80px;
            font-family: $primaryFont;
            font-weight: 100;
        }
        h2 span{
            font-family: $secondaryFont;
            font-size: 60px;
        }

        p{
            width: 35%;
            margin: 10% 35%;
            font-family: $secondaryFont;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: .1rem;
            line-height: 1.5rem; 
        }

        .btn-flex{
            display: flex;
            text-align: center;
            margin: 5% 0%;
    
            .btn-left{
                flex-basis: 0%;
    
                
            a{
                font-family: $secondaryFont;
                color: white;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: .1rem;
                line-height: 2.4rem;
                text-decoration: none;
            }
        }
            .btn-right{
                flex-basis: 8%;
    
                .gtn{
                    height: 40px;
                    width: 40px;  
                    border-radius: 50%;
                    background: none;
                    border: 1px solid whitesmoke;
                    color: white;
                    cursor: pointer;
                }
                svg{
                    transform: rotate(185deg);
                }
            }
        }
    }
}

.footer-container{
    margin: 6% 0%;
}
.footer-flex{
    display: flex;

    .footer-left{
        display: flex;
        flex-basis: 55%;

        h2{
            margin: 0% 5%;
            color: white;
            font-size: 10px;
            font-family: 'Commissioner', sans-serif;
            letter-spacing: .1rem;
        }
         ul{
            margin: 0% 35%;
        }
         ul li a{
            color: white;
            font-size: 20px;
            font-family: 'Commissioner', sans-serif;
            line-height: 2rem;
        }
    }
    .footer-right{
        display: flex;
        flex-basis: 45%;
        margin: 0% -4%;

        h1{
            color: white;
            font-size: 14px;
            font-family: 'Commissioner', sans-serif;
            line-height: 3rem;
        }
        ul{
            margin: 0% 6%;
        }
        ul li a{
            color: rgba(255, 255, 255, 0.616);
            font-size: 16px;
            font-family: 'Commissioner', sans-serif;
            line-height: 1.5rem;
        }
    }

}
.ending-container{
    padding: 2% 0%;
}
.ending-flex{
    display: flex;

    .ending-left{
        flex-basis: 60%;
        margin: 0% 2%;

         a{
            color: white;
            font-family: 'Tajawal', sans-serif;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1rem;
        }
    }
    .ending-right{
        flex-basis: 40%;

        h2 {
            margin: 0% 15%;
            color: white;
            font-size: 12px;
            font-family: 'Commissioner', sans-serif;
            letter-spacing: .1rem;
        }
    }

}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 2;

    .loader {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 20vh;
        z-index: 2;

        #slider{
            overflow:hidden;
            height: 500px;
            padding:0;
            margin:0;
          }
          
          figure{
            width:300px;
            display:table;
            animation:imageSlide 8s infinite;
            position:relative;
            padding:0;
            margin:0;
          }
          
          img{
            width: 400px;
            height: 500px;
            display:block;
            padding:0;
            margin:0;
          }
    }
}

@keyframes imageSlide {
	0% {
		top:0%
	}
	25% {
		top:0%
	}
	50% {
		top:-100%
	}
	75% {
		top:-100%
	}
  100%{
    top: 0%;
  }

}


@media(max-width: 3000px) {
    #toggle {
          visibility: visible;
          opacity: 1;
          margin-top: 6px;
    }

    nav{
        #brand {
            margin-left: 18px;
        }
      #menu{
          display: none;
        }
    }

    #menu a {
          font-family: "Poppins";
          font-weight: 200;
          font-size: 20px;
    }

}

@media(min-width: 3000px) {
    #resize {
          visibility: hidden !important;
    }
}

@media(max-width: 1450px) {

    .features{
    
        .btn{
            position: absolute;
            top: 85%;
            left: 65%;
        }
    }
}


@media(max-width: 1300px) {

    #resize #menu li {
        width: 120%;
    }
    #resize li:nth-child(1) {
        margin-top: 100px;
    }
    #resize #menu li a {
        font-size: 60px;
    }
    #resize #menu li a svg {
        width: 6%;
        margin-left: 2%;
        height: 0%;
    }
    #resize #menu li a span {
        font-size: 15px;
        margin: 0% 2%;
    }
    .resize-heading{
        margin: 0% 10%;
        position: relative;
        top: 25%;
    }
    .resize-heading h1{
        width: 100%;
        font-size: 15px;
    }
    .resize-heading h2{
        width: 100%;
        font-size: 12px;
    }
    .resize-heading a{
        font-size: 12px;
    }
    .header {
        width: 100%;
        margin-top: 5%;
        margin-left: 0%;

    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 50px;
    }
    .dis{
        margin: 5% 0%;
    }

    .btn-flex{
        margin: 3% 46%;

        .btn-left{
            flex-basis: 0%;
    
        }
        .btn-right{
            flex-basis: 80%;
        }
    }
  }

.bike{
    width: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
}
.social-brand{
    left: 10%;
    
    ul li a{
        font-size: 22px;
    }
}


.features{
    width: 40%;
    display: block;

    .cards{
        color: black;
    }
    .card{
        display: flex;
        margin: 30% 0%;
    }

    .price{
        display: flex;
        padding: 2% 0%;
    
        h2{
            margin-left: 2%;
            font-size: 19px;
        }
    
        .marq{
            width: 15%;
            margin-left: 60%;
            font-size: 14px;
        }
    }
}

.middle-container{
    text-align: center;
    margin: 10% 0%;

    h1{
        font-size: 60px;
    }
    h2{
        font-size: 70px;
    }
    h2 .date{
        font-size: 100px;
    }
    p{
        width: 25%;
        margin: 2% 60%;
    }
    h3{
        width: 60%;
        margin: 6% 20%;
        font-size: 50px;
    }
    .history{
        margin: 5% 0%;
    }
    .btn-flex{
        margin: 5% 40%;

        .btn-left{
            flex-basis: 70%;
        }
        .btn-right{
            flex-basis: 0%;
        }
    }


}

  .high-container{

    img {
        width: 50.9%;
    }

    h1{
        padding: 6% 6%;
        width: 80%;
        font-size: 70px;
    }
}
.high-flex{
    display: flex;

    .high-left{
        margin-left: 15%;

        p {
            width: 65%;
        }
        .btn-flex{
            margin: 5% -4%;
    
            .btn-left{
                flex-basis: 30%;
            }
            .btn-right{
                flex-basis: 0%;
    
            }
        }
    }
    .high-right{
        margin: 10% 0%;

        img{
            width: 60%;
        }

        p {
            margin: 4% 5%;
            width: 55%;
            letter-spacing: .08rem;
            font-size: 15px;
        }
    }
}


  .lookbook-flex{
    display: flex;

    .lookbook-left{
        margin: 0% 10%;

        img{
            width: 110%;
        }
    }
    .lookbook-right{
        margin: 4% 0%;

        h1 {
            font-size: 55px;
        }
        h2{
            font-size: 60px;
        }
        h2 span{
            font-size: 40px;
        }

        p{
            width: 50%;
            margin: 10% 40%;
            font-size: 14px;
        }

        .btn-flex{
            margin: 5% 0%;
    
            .btn-left{
                flex-basis: 22%;
            }
            .btn-right{
                flex-basis: 0%;
            }
        }
    }
}


.footer-flex{
    display: flex;


    .footer-left{
        margin: 0% 5%;

        h2{
            margin: 0% 0%;
            font-size: 12px;
        }
        ul{
            margin: 0% 25%;
        }
        ul li a{
            font-size: 20px;
        }
    }
    .footer-right{
        margin: -1% -15%;

        h1{
            font-size: 14px;
        }
        ul{
            margin: 0% 5%;
        }
        ul li a{
            font-size: 12px;
        }
    }
}

.ending-flex{
    display: flex;

    
.ending-left a{
    font-size: 16px;
    letter-spacing: .6rem;
}
.ending-right h2{
    margin: 0% 0%;
    font-size: 11px;
    letter-spacing: .1rem;
}

  }

}

@media(max-width: 900px) {

    .header {
        width: 100%;
        margin-top: 15%;
        margin-left: 0%;

    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 40px;
    }
    .dis{
        margin: 5% 0%;
    }

    .btn-flex{
        margin: 5% 40%;

        .btn-left{
            flex-basis: 70%;
        }
        .btn-right{
            flex-basis: 0%;

        }
    }
  }


.social-brand{
    position: absolute;
    top: 90%;
    left: 15%;

    ul li{
        font-size: 18px;
    }

}
.brand-horz {
    position: absolute;
    top: 90%;
    left: 90%;
    width: 20%;

}

.features{
    display: block;

    .cards{
        color: black;
    }
    .card{
        display: flex;
        margin: 20% 0%;

        img{
            width: 90%;
        }
    }

    .price{
        display: flex;
        padding: 2% 0%;
    
        h2{
            margin-left: 2%;
            font-size: 19px;
        }
    
        .marq{
            width: 15%;
            margin-left: 52%;
            font-size: 14px;
        }
    }
}

.middle-container{

    h1{
        font-size: 50px;
    }
    h2{
        font-size: 60px;
    }
    h2 .date{
        font-size: 90px;
    }
    p{
        width: 30%;
        margin: 2% 55%;
    }
    h3{
        width: 70%;
        margin: 6% 15%;
        font-size: 45px;
    }
    .history{
        margin: 5% 0%;
    }
    .btn-flex{
        margin: 5% 35%;

        .btn-left{
            flex-basis: 60%;
        }
        .btn-right{
            flex-basis: 0%;
        }
    }


}

  .high-container{

    img {
        width: 50.9%;
    }

    h1{
        padding: 6% 6%;
        width: 80%;
        font-size: 70px;
    }
}
.high-flex{
    display: flex;

    .high-left{
        margin-left: 12%;

        p {
            width: 80%;
            margin-left: 4%;
        }
        .btn-flex{
            margin: 5% 0%;
    
            .btn-left{
                flex-basis: 40%;
            }
            .btn-right{
                flex-basis: 0%;
            }
        }
    }
    .high-right{
        margin: 10% 0%;

        img{
            width: 60%;
        }

        p {
            margin: 4% 2%;
            width: 60%;
            letter-spacing: .08rem;
            font-size: 12px;
        }
    }
}


  .lookbook-flex{
    display: flex;

    .lookbook-left{
        margin: 0% 10%;

        img{
            width: 110%;
        }
    }
    .lookbook-right{
        margin: 4% 0%;

        h1 {
            font-size: 55px;
        }
        h2{
            font-size: 60px;
        }
        h2 span{
            font-size: 40px;
        }

        p{
            width: 60%;
            margin: 10% 40%;
            font-size: 12px;
        }

        .btn-flex{
            margin: 5% 0%;
    
            .btn-left{
                flex-basis: 25%;
            }
            .btn-right{
                flex-basis: 5%;
            }
        }
    }
}

.footer-container{

    .footer-flex{
        display: flex;
    
    
        .footer-left{
            margin: 0% 5%;
    
            h2{
                margin: 0% 0%;
                font-size: 11px;
            }
            ul{
                margin: 0% 25%;
            }
            ul li a{
                font-size: 16px;
            }
        }
        .footer-right{
            margin: -1% -15%;
    
            h1{
                font-size: 14px;
            }
            ul{
                margin: 0% 2%;
            }
            ul li a{
                font-size: 12px;
            }
        }
    }
}

.ending-container{

    .ending-flex{

        .ending-left a{
            font-size: 16px;
            letter-spacing: .6rem;
        }
        .ending-right h2{
            margin: 0% 0%;
            font-size: 9px;
            letter-spacing: .1rem;
        }
    }
}


}


@media(max-width: 600px) {
    nav #TSA h1 {
        margin-left: 10px;
        font-size: 22px;
        letter-spacing: .6rem;
    }
    nav #TSA h2 {
        margin-right: 70px;
        font-size: 14px;
    }
    #resize #menu li {
        width: 130%;
    }
    #resize li:nth-child(1) {
        margin-top: 120px;
    }
    #resize #menu li a {
        font-size: 30px;
    }
    #resize #menu li a svg {
        width: 9%;
        margin-left: 2%;
        height: -10%;
    }
    #resize #menu li a span {
        font-size: 15px;
        margin: 0% 2%;
    }
    .resize-heading{
        margin: 0% 0%;
        position: relative;
        top: 30%;
        left: 0%;
    }
    .resize-heading h1{
        width: 100%;
        font-size: 15px;
    }
    .resize-heading h2{
        width: 100%;
        font-size: 12px;
    }
    .resize-heading a{
        font-size: 12px;
    }
    .header {
        width: 80%;
        margin-top: -10%;
        margin-left: 12%;

    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 35px;
    }
    .dis{
        margin: 5% 0%;
    }

    .btn-flex{
        display: flex;
        text-align: center;
        margin: 5% 30%;

        .btn-left{
            flex-basis: 100%;
        }
        .btn-right{
            flex-basis: 0%;

        }
    }
  }

  .brand-container{

    .bike{
        width: 100%;
        position: absolute;
        top: 40%;
        left: 50%;
    }
    .social-brand{
        position: absolute;
        top: 90%;
        left: 20%;
    
        ul li a{
            font-size: 16px;
        }
    }
    .brand-horz {
        position: absolute;
        top: 90%;
        left: 85%;
        width: 30%;
    
    }
}

.features{
    min-height: 80px;
    width: 70%;
    display: block;

    .cards{
        color: black;
    }
    .card{
        display: flex;
        margin: 10% 0%;
    }
    .btn{
        top: 65%;
        left: 82%;
        width: 110px;
        height: 110px;
    }

    .price{
        display: flex;
        padding: 2% 0%;
    
        h2{
            margin-left: 2%;
            font-size: 19px;
        }
    
        .marq{
            width: 15%;
            margin-left: 50%;
            font-size: 14px;
        }
    }
}

.middle-container{
    text-align: center;
    margin: 5% 0%;

    h1{
        font-size: 40px;
    }
    h2{
        font-size: 40px;
    }
    h2 .date{
        font-size: 60px;
    }
    p{
        width: 90%;
        font-size: 14px;
        margin: 2% 6%;
    }
    h3{
        width: 100%;
        margin: 6% 0%;
        font-size: 30px;
    }
    .history{
        margin: 5% 0%;
    }
    .btn-flex{
        margin: 5% 30%;

        .btn-left{
            flex-basis: 80%;
        }
        .btn-right{
            flex-basis: 0%;
        }
    }


}

  .high-container{

    img {
        width: 50.7%;
    }

    h1{
        padding: 6% 6%;
        width: 80%;
        font-size: 40px;
    }
}
.high-flex{
    display: block;

    .high-left{
        margin-left: 15%;

        p {
            width: 65%;
        }
        .btn-flex{
            margin: 5% 0%;
    
            .btn-left{
                flex-basis: 38%;
            }
            .btn-right{
                flex-basis: 0%;
            }
        }
    }
    .high-right{
        margin: 10% 0%;

        img{
            width: 100%;
        }

        p {
            margin: 4% 14%;
            width: 80%;
            font-size: 15px;
        }
    }
}


  .lookbook-flex{
    display: block;

    .lookbook-left{
        margin: 0% 0%;

        img{
            width: 100%;
        }
    }
    .lookbook-right{
        margin: 4% 0%;

        h1 {
            font-size: 50px;
        }
        h2{
            font-size: 50px;
        }
        h2 span{
            font-size: 40px;
        }

        p{
            width: 50%;
            margin: 10% 40%;
            font-size: 14px;
        }

        .btn-flex{
            margin: 5% 10%;
    
            .btn-left{
                flex-basis: 30%;
            }
            .btn-right{
                flex-basis: 0%;
            }
            }
        }
    }


.footer-container{

    .footer-flex{
        display: block;


        .footer-left{
            margin: 10% 0%;

            h2{
                margin: 0% 10%;
                font-size: 10px;
            }
            ul{
                margin: 0% 20%;
            }
            ul li a{
                font-size: 15px;
            }
        }
        .footer-right{
            margin: 0% 0%;

            h1{
                font-size: 10px;
            }
            ul{
                margin: 0% 6%;
            }
            ul li a{
                font-size: 10px;
            }
        }
    }

}
.ending-container{

    .ending-flex{

        .ending-left a{
            font-size: 16px;
            letter-spacing: .6rem;
        }
        .ending-right h2{
            margin: 0% 0%;
            font-size: 8px;
            letter-spacing: .1rem;
        }
    }
}

}

@media(max-width: 380px) {
    #resize li:nth-child(1) {
        margin-top: 100px;
    }
    #resize #menu li a {
        font-size: 20px;
    }
    #resize #menu li a span {
        font-size: 10px;
    }
    .resize-heading{
        top: 45%;
        left: 0%;
    }
    .resize-heading h2{
        width: 100%;
        font-size: 10px;
    }
    .header{
        h1{
            margin-left: -12%;
        }
        .btn-flex{
            margin: 5% 26%;
    
            .btn-left{
                flex-basis: 80%;
            }
            .btn-right{
                flex-basis: 0%;

            }
        }
    }

    .middle-container{


        .btn-flex{
            margin: 5% 25%;
    
            .btn-left{
                flex-basis: 80%;
            }
            .btn-right{
                flex-basis: 0%;
            }
        }
    
    
    }
    
    
    .high-container{
    
    
        h1{
            padding: 6% 6%;
            width: 88%;
            font-size: 40px;
        }
        h1 span{
            font-family: $secondaryFont;
        }
    }
    
    .high-flex{
    
        .high-left{
    
            .btn-flex{
                margin: 5% 0%;
        
                .btn-left{
                    flex-basis: 40%;
                }
                .btn-right{
                    flex-basis: 20%;
                }
            }
        }
    }
    
    .lookbook-flex{
        .lookbook-right{
    
            .btn-flex{
                margin: 5% 10%;
        
                .btn-left{
                    flex-basis: 20%;
                }
                .btn-right{
                    flex-basis: 20%;
                }
            }
        }
    }

    .wrapper {
    
        .loader {
    
            #slider{
                height: 400px;
              }
              
              figure{
                width: 200px;
              }
              
              img{
                width: 300px;
                height: 400px;
              }
        }
    }
    
}


@media(max-width: 360px) {

    .header{
        h1{
            font-size: 35px;
            margin-left: 0%;
        }
        h2{
            font-size: 25px;
        }
    }

    .middle-container{

        h3{
            font-size: 25px;
        }
    }

    .high-container{
    
    
        h1{
            padding: 6% 6%;
            width: 88%;
            font-size: 40px;
        }

        .high-flex{
    
            .high-left{
        
                .btn-flex{
            
                    .btn-left{
                        flex-basis: 48%;
                    }
                }
            }
        }
    }  
    
}
