@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap');

$primarycolor: white;
$primaryFont: 'Cormorant Garamond', serif;
$secondaryFont: 'Commissioner', sans-serif; 

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background: black;
    scroll-behavior: smooth;
    cursor: none;
    overflow: hidden;
}

.nav-container{
    height: 15vh;
}
nav {
    width: 100%;
    background: transparent;
    height: 100vh;
    cursor: auto;

    #TSA{
        color:rgba(255, 255, 255, 0.945);
        font-family: 'Tajawal', sans-serif;
    }
    #TSA h1 a {
        color:rgba(255, 255, 255, 0.87);
    }
    #TSA h1 a:hover {
        color: $primarycolor;
    }
    
    #TSA h1 {
        float: left;
        display: block;
        margin-left: 50px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1rem;
        line-height: 5rem;
    }
    #TSA h2 {
        float: right;
        margin-right: 100px;
        display: block;
        font-size: 14px;
        line-height: 4.5rem;
        letter-spacing: .5rem;
    }
    #TSA h2 span {
        float: right;
        line-height: 4rem;
        display: block;
        font-size: 12px;
    }
}


#toggle {
    position: absolute;
    right: 20px;
    top: 12px;
    z-index: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}


#toggle .span {
    border-radius: 20px;
    height: 1.5px;
    background: $primarycolor;
    backface-visibility: hidden;
    margin: 10px auto;
    transition: all .6s ease-out;
}
#toggle.on {
    z-index: 999;
}
#toggle.on #one {
    transform: rotate(40deg) translateX(0px) translateY(0px);
}

#toggle.on #two {
    transform: rotate(-40deg) translateX(7.5px) translateY(-9.5px);
}

#resize {
    z-index: 1;
    top: 0px;
    position: absolute;
    background: #bbb8ab;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-out;
    display: table;
}

#resize #menu {
    height: 90px;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    padding: 20px 0;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 140px;
}

#resize #menu li a {
    color: $primarycolor;
    font-weight: 100;
    font-size: 80px;
    font-family: $primaryFont;
    margin-left: 3%;
    text-transform: uppercase;
}
#resize #menu li a span {
    font-size: 20px;
    font-family: $secondaryFont;
    margin: 0% 8%;
    text-transform: uppercase;
}
#resize #menu li a svg {
    transform: rotate(45deg);
    margin-left: 2%;
    opacity: 0;
}
#resize #menu li a:hover svg {
    opacity: 1;
    transition: .6s ease-in;
}
#resize.active {
    visibility: visible;
    opacity: 1;
    transition: 1.2s ease-in;
}
.resize-heading{
    margin: 0% 38%;

    h1{
        width: 200%;
        color: $primarycolor;
        font-size: 20px;
        font-family: $secondaryFont;
    }
    h2{
        width: 175%;
        font-size: 15px;
        font-family: $secondaryFont;
        color: rgba(255, 255, 255, 0.801);
        letter-spacing: .2rem;
        line-height: 1.5rem;
    }
    h2:nth-child(2){
        margin: 10% 0%;
    }
    a{
        color: $primarycolor;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: .1rem;
        font-family: $secondaryFont;
        line-height: 4rem; 
    }
    a:hover{
        text-decoration: underline;
        padding-right: .8%;
    }
}

#horz{
    margin: 0;
    overflow: hidden;
}
  
  .cms-slider {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    margin: 40px;
    padding-bottom: 50px;
    
    &__items {
      width: 95%;
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      
    }
    &__item {
      justify-content: center;
      align-items: center;
      margin-right: 60px;
    }
  }


  
  .cursor {
    position: absolute;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.8);

    h2{
        font-family: $secondaryFont;
        font-size: 1.1px;
        line-height: 8px;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        color: black;
    }
}

.cursor.active {
    opacity: 1;
    transform: scale(12);
}

.cursor.active::before {
    opacity: 1;
}

  .cursor-follower {
    position: absolute;
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: 10;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);

   h2{
        font-family: $secondaryFont;
        font-size: 12px;
        line-height: 6rem;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        color: black;
    }
    
}
  
.cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
}

.cursor-follower1 {
    position: absolute;
    background: none;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 100%;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
}


.cursor-follower1.active {
    opacity: 0.3;
    transform: scale(0);
}


.brand-container{

    .social-brand{
        position: absolute;
        top: 94%;
        left: 8%;
        transform: translate(-50%, -50%);
    
        ul li{
            font-size: 18px;
            font-family: $secondaryFont;
            display: inline-block;
            margin-right: 20px;
            cursor: pointer; 
        }
    
        ul li a{
            color: rgba(255, 255, 255, 0.884);
            text-transform: uppercase;
        }
    }
    .brand-horz {
        position: absolute;
        top: 94%;
        left: 94%;
        transform: translate(-50%, -50%);
        width: 6%;
        color: $primarycolor;
        font-family: $primaryFont;
    
    }
}




@media(max-width: 3000px) {
    #toggle {
          visibility: visible;
          opacity: 1;
          margin-top: 6px;
    }

    nav{
        #brand {
            margin-left: 18px;
        }
      #menu{
          display: none;
        }
    }

    #menu a {
          font-family: "Poppins";
          font-weight: 200;
          font-size: 20px;
    }

}

@media(min-width: 3000px) {
    #resize {
          visibility: hidden !important;
    }
}

@media(max-width: 1300px) {

    .nav-container{
        height: 12vh;
    }
    #resize #menu li {
        width: 120%;
    }
    #resize li:nth-child(1) {
        margin-top: 100px;
    }
    #resize #menu li a {
        font-size: 60px;
    }
    #resize #menu li a svg {
        width: 6%;
        margin-left: 2%;
        height: 0%;
    }
    #resize #menu li a span {
        font-size: 15px;
        margin: 0% 2%;
    }
    .resize-heading{
        margin: 0% 10%;
        position: relative;
        top: 25%;
    }
    .resize-heading h1{
        width: 100%;
        font-size: 15px;
    }
    .resize-heading h2{
        width: 100%;
        font-size: 12px;
    }
    .resize-heading a{
        font-size: 12px;
    }


  .brand-container{

    .social-brand{
        position: absolute;
        top: 96%;
        left: 10%;
    
        ul li{
            font-size: 16px;
        }
    }
    .brand-horz {
        position: absolute;
        top: 96%;
        left: 94%;
        width: 8%;
    }
}
}

@media(max-width: 900px) {
    .cms-slider {
        width: 95%;
        margin-left: 40px;
      }
}

@media(max-width: 600px) {

    .nav-container{
        height: 30vh;
    }
    nav #TSA h1 {
        margin-left: 10px;
        font-size: 22px;
        letter-spacing: .6rem;
    }
    nav #TSA h2 {
        margin-right: 70px;
        font-size: 14px;
    }
    #resize #menu li {
        width: 130%;
    }
    #resize li:nth-child(1) {
        margin-top: 120px;
    }
    #resize #menu li a {
        font-size: 30px;
    }
    #resize #menu li a svg {
        width: 9%;
        margin-left: 2%;
        height: -10%;
    }
    #resize #menu li a span {
        font-size: 15px;
        margin: 0% 2%;
    }
    .resize-heading{
        margin: 0% 0%;
        position: relative;
        top: 30%;
        left: 0%;
    }
    .resize-heading h1{
        width: 100%;
        font-size: 15px;
    }
    .resize-heading h2{
        width: 100%;
        font-size: 12px;
    }
    .resize-heading a{
        font-size: 12px;
    }


    
  .brand-container{

    .social-brand{
        position: absolute;
        top: 94%;
        left: 25%;
    
        ul li{
            font-size: 15px;
        }
    }
    .brand-horz {
        position: absolute;
        top: 94%;
        left: 92%;
        width: 10%;
    }
}

.cms-slider {
    margin: 15px;
}

}

@media (max-width:380px) {

    #resize li:nth-child(1) {
        margin-top: 100px;
    }
    #resize #menu li a {
        font-size: 20px;
    }
    #resize #menu li a span {
        font-size: 10px;
    }
    .resize-heading{
        top: 45%;
        left: 0%;
    }
    .resize-heading h2{
        width: 100%;
        font-size: 10px;
    }

    .brand-container{

        .brand-horz {
            width: 10%;
        }
    }

    .footer-container{

        .footer-flex{
        
        
            .footer-left{
                ul{
                    margin: 0% 15%;
                }

            }
            .footer-right{
                ul{
                    margin: 0% 4%;
                }
            }
        }
    }

}